<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script src="//twemoji.maxcdn.com/twemoji.min.js"></script>
  <script>
    window.onload = function() {
        // from https://stackoverflow.com/questions/40385022/how-does-github-detect-whether-the-browser-has-color-emoji-support
        var canvas = document.createElement("canvas"),
            ctx = canvas.getContext("2d");

        canvas.style="height:100px;width:100px;position:absolute;top:60%;background:white";
        document.body.appendChild(canvas);
        ctx.fillStyle ="#FFF";
        ctx.font="100px Arial";
        ctx.fillText('😡',100,100);
        var d = ctx.getImageData(50, 50, 1, 1).data;
        if (d[0] + d[1] + d[2] === 0) {
            //need twemoji or something else
            twemoji.size = '16x16';
            twemoji.parse(document.body);
        }
    }
  </script>
  <style>
    img.emoji {
      margin: 0px !important;
      display: inline !important;
    }
  </style>
</head>
